<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>n1</param-name>
    <param-value> 400 </param-value>
  </context-param>
  <context-param>
    <param-name>n2</param-name>
    <param-value> 700 </param-value>
  </context-param>
  <servlet>
    <servlet-name>onServletConfig</servlet-name>
    <servlet-class>advanced.java.program.OnServletConfig</servlet-class>
    <init-param>
      <param-name>n1</param-name>
      <param-value> 100 </param-value>
    </init-param>
    <init-param>
      <param-name>n2</param-name>
      <param-value> 200 </param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>onServletContext</servlet-name>
    <servlet-class>advanced.java.program.OnServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onServletContext</servlet-name>
    <url-pattern>/onContext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>onServletConfig</servlet-name>
    <url-pattern>/onSCG</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>advanced.java.program.GetHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>advanced.java.program.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/gethandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/posthandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericServ</servlet-name>
    <servlet-class>advanced.java.program.GenericServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServ</servlet-name>
    <url-pattern>/genericserv</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Logincheck</filter-name>
    <filter-class>advanced.java.program.Logincheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Logincheck</filter-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Profile</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>advanced.java.program.DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m1</servlet-name>
    <servlet-class>advanced.java.program.FirstURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m1</servlet-name>
    <url-pattern>/urlwrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m2</servlet-name>
    <servlet-class>advanced.java.program.SecondURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m2</servlet-name>
    <url-pattern>/urlwrite2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormDashboard</servlet-name>
    <servlet-class>advanced.java.program.HiddenFormDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormDashboard</servlet-name>
    <url-pattern>/hiddenformdashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenFormServlet</servlet-name>
    <servlet-class>advanced.java.program.HiddenFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormServlet</servlet-name>
    <url-pattern>/hiddenformlogin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>advanced.java.program.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>advanced.java.program.AccountDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>advanced.java.program.AccountProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>advanced.java.program.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>advanced.java.program.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggerFilter</display-name>
    <filter-name>LoggerFilter</filter-name>
    <filter-class>advanced.java.program.LoggerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggerFilter</filter-name>
    <servlet-name>HelloServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>advanced.java.program.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>HelloServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>advanced.java.program.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/sessionlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>advanced.java.program.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s11</servlet-name>
    <servlet-class>advanced.java.program.FirstCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s11</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s22</servlet-name>
    <servlet-class>advanced.java.program.SecondCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s22</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookieserv1</servlet-name>
    <servlet-class>advanced.java.program.CookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieserv1</servlet-name>
    <url-pattern>/Elogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookieserv2</servlet-name>
    <servlet-class>advanced.java.program.CookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieserv2</servlet-name>
    <url-pattern>/Elogin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessionserv1</servlet-name>
    <servlet-class>advanced.java.program.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionserv1</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessionserv2</servlet-name>
    <servlet-class>advanced.java.program.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionserv2</servlet-name>
    <url-pattern>/Register1</url-pattern>
  </servlet-mapping>
  
  
  <servlet>  
<servlet-name>implicitobj</servlet-name>  
<jsp-file>/ExImplicitobj.jsp</jsp-file>  
  
<init-param>  
<param-name>dname</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</init-param>  
  
</servlet>  
  
<servlet-mapping>  
<servlet-name>implicitobj</servlet-name>  
<url-pattern>/ExImplicitobj</url-pattern>  
</servlet-mapping>  
</web-app>